---
const { settings } = Astro.props;
---

<a href={settings.cta.link} target="_blank" rel="noopener noreferrer" class="min-w-32 bs-btn default-btn ml-auto !bg-green-800">
    {settings.cta.title}
</a>