---

const { settings } = Astro.props
import Image from 'astro/components/Image.astro'
import logo from "../assets/images/full-logo.png"
---

<section class="bs-container py-6">
  <div>
    <Image src={ logo } alt="" format="avif" height={3053} width={4766} class="w-full h-full object-cover object-top" />
  </div>
</section>
