---

import Check from '../assets/theme-images/icon-check.svg'

const { title, services } = Astro.props

---

<section class="bs-mt-lg bg-bs-surface-2/60 mask-b-from-80% mask-t-from-90% py-20 " id="services">

  <div class="bs-container">

    <!-- Header -->
    { title && <h2 class="bs-h2 text-start gold-text">{ title }</h2>}

    <!-- pricing -->
    <div class="mt-8 grid lg:grid-cols-2 gap-8 lg:gap-0">

    <!-- Item -->

    { services.map( ( item, index ) =>

    <article
      class:list={['@container p-6 xl:p-16 flex flex-col gap-6 h-full w-full rounded-xl overflow-hidden lg:scale-90 @xl:justify-end bg-bs-surface-2/40 border-bs-surface-3']}>

      <!-- Content -->
      <div class="relative">

        <!-- Title -->
        <h3 class="text-2xl font-bold flex gap-3 items-center gold-text">
          <!-- Title -->
          <span>{ item.title }</span>

          <!-- Tag -->
          {item.tag && <div
            class="text-xs uppercase tracking-widest font-semibold hidden sm:block ms-auto rounded-full px-4 py-2 pb-[0.4rem] border border-bs-foreground-dark/30"
            set:html={ item.tag } />}
        </h3>

        <!-- Description -->
        <h3 class="text-base sm:text-lg mt-4 " set:html={ item.description } />

        <h3 class="text-base sm:text-lg flex gap-3 items-center mt-8 mb-4">Para quem é este serviço?</h3>

        <!-- For who list -->
        <ul role="list" class="flex flex-col gap-2 mb-8">

          { item.for_who.map( ({ item }) =>
            <li class="flex gap-1 md:gap-2 items-center">
              <!-- Check -->
              <Check class="text-amber-300 w-5 h-5 shrink-0" />

              <!-- Item -->
              <span class="bs-body-text">{ item }</span>
            </li>
          )}

        </ul>

        <!-- CTA -->
        <footer class="flex justify-between items-center gap-2">

          <!-- CTA button -->
          <a href={ item.cta_link } target="_blank" rel="noopener noreferrer" class="bs-btn inline-block self-start @4xl:mt-12 text-xl">
            { item.cta }
          </a>

        </footer>

      </div>

    </article>
    )}

  </div>

</section>

